body {
  font-family: "Roboto", sans-serif;
}

#barChart {
  margin-bottom: 40px;
}

.btn {
  text-transform: capitalize;
  display: inline-block;
  background: black;
  color: white;
  border-radius: 8px;
}

section {
  text-align: center;
}

.form {
  text-align: center;
  margin-bottom: 40px;
  padding: 40px 0;
}

input {
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

h1 {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
}

.chart-title {
  display: none;
  font-size: 20px;
  text-transform: capitalize;
}
