* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #d9d9d9;
}

nav {
  padding: 20px;
  background: black;
  width: 100%;
  margin-bottom: 20px;
}

.nav-ul {
  gap: 20px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}

a:hover {
  color: #d9d9d9;
  border-color: white;
}

section{
  padding: 20px 0px;
  max-width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#search-id label{
text-align: center;
}

.btn{
  background-color: #3c89e6;
  transition: 0.5s;
  border: 1px solid white;
  color: white;
}

.btn:hover{
  background-color: black;
  color:white;
}


label{
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

input{
  padding: 10px;
  text-transform: capitalize;
}


table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  border: 2px solid black;
}

th,
td {
  border: 2px solid black;
  text-align: center;
  padding: 10px;
}

th {
  font-size: 14px;
  font-weight: bold;
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

td.ticket-id {
  font-weight: bold;
}

button {
  background: #3c89e6;
  color: white;
  border-color: transparent;
  padding: 15px 30px;
  border-radius: 4px;
}

button:hover {
  background: black;
}

.editForm {
  display: none;
}

#edit-form {
  border: 1px solid black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 20px 0;
}

#edit-form label {
  text-transform: capitalize;
  display: block;
  margin-bottom: 6px;
}

#edit-form input {
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px 10px;
  margin-bottom: 10px;
  text-align: center;
}

#edit-form h1 {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}

#edit-form h2 {
  text-transform: capitalize;
  margin-bottom: 20px;
}

#edit-form .submit-edit{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 546px) {
  .nav-ul {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }
}
